.center{
    text-align: center;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin: auto;
}
.flax{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.flex-col{
    display: flex;
}